<table id='projects'>
	<%- @projects.each do |project| %>
	<tr id='<%= project.to_view_id %>'>
		<td><%= project.name %></td>
		<td><%= project.deploy_count %></td>
		<td><%= project.deploy_rate %></td>
		<td><%= project.incident_rate_fraction %></td>
	</tr>
	<%- end %>
</table>