<div class='table_header grid_4 suffix_4'>Projects</div>
<table id='projects' class='container_16'>
	<%- @projects.each do |project| %>
	<tr id='<%= project.to_view_id %>'>
		<td class='grid_4'><%= link_to project.name, project %></td>
		<td class='grid_4'><%= link_to project.deploy_count, [project, :deployments] %></td>
		<td class='grid_4'><%= project.deploy_rate %></td>
		<td class='grid_4'><%= link_to project.incident_rate_fraction, [project, :incidents] %></td>
	</tr>
	<%- end %>
</table>
